---
import { toolboxFavorite, toolboxFront, toolboxBack, toolboxGeneral } from '../constants';
import Card from './Card.astro';
---

<section id="toolbox">
	<div class="max-w-screen-xl px-4 py-8 sm:py-12 sm:px-6 lg:py-16 lg:px-8">
		<div class="flex flex-col gap-y-8 lg:items-start">
			<div class="max-w-lg mx-0">
				<h2 class="text-3xl font-bold sm:text-4xl bg-clip-text text-transparent bg-gradient-to-l from-blue-300 to-green-400">
					Toolbox
				</h2>
			</div>
			<div class="self-start pl-4">
				<h3 class="text-2xl text-white font-bold underline decoration-teal-500/80">Favoritos</h3>
			</div>
			<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-4 text-white mx-auto">
				{toolboxFavorite.map((tool) => <Card title={tool.name} icon={tool.icon} />)}
			</div>
			<div class="self-start pl-4">
				<h3 class="text-2xl text-white font-bold underline decoration-teal-500/80">Front End</h3>
			</div>
			<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-4 text-white mx-auto">
				{toolboxFront.map((tool) => <Card title={tool.name} icon={tool.icon} />)}
			</div>
			<div class="self-start pl-4">
				<h3 class="text-2xl text-white font-bold underline decoration-teal-500/80">Back End</h3>
			</div>
			<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 text-white mx-auto">
				{toolboxBack.map((tool) => <Card title={tool.name} icon={tool.icon} />)}
			</div>
			<div class="self-start pl-4">
				<h3 class="text-2xl text-white font-bold underline decoration-teal-500/80">General</h3>
			</div>
			<div class="grid grid-cols-2 sm:grid-cols-3 gap-4 text-white mx-auto">
				{toolboxGeneral.map((tool) => <Card title={tool.name} icon={tool.icon} />)}
			</div>
		</div>
	</div>
</section>
